{% extends 'base.html' %}

{% load static %}

{% block title %}My Page Title{% endblock %}

<!--
Added working login, checking csrf token and defining fields for input of 
login information like a username. Submit button also works
-->

{% block content %}
    <h1>login</h1>

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="User Name" />
        <input type="password" name="password" placeholder="Enter Password" />
        <input type="submit" value="Login" />
    </form>
        
{% endblock content %}