{% extends 'base.html' %}

{% load static %}

{% block title %}My Page Title{% endblock %}

<!--
Adding form to the page, along with checking CSRF token and having working
register button.
-->

{% block content %}
<form method="POST" action="{% url "register" %}">
    {% csrf_token %}
    <h1>Register</h1>
    <input type="text" name="username" placeholder="Username" required/>
    <input type="password" name="password" placeholder="Password" required/>

    <button type="submit">Register</button>
</form>


{% endblock %}